{% extends 'base.html' %} 
{% load static %}
{% block title %} Contact Us {% endblock %} 
{% block css %} <link rel="stylesheet" href="{% static 'CSS/contact.css' %}"> {% endblock %}



{% block main %}


<div class="contact-container">
    <form method="post" class="contact-left">
        {% csrf_token %}
        <div class="contact-left-title">
            <h2>Get in touch</h2>
            <hr>
        </div>
        <input type="text" name="name" placeholder="Your Name" class="contact-inputs" required>
        <input type="email" name="email" placeholder="Your Email" class="contact-inputs" required>
        <textarea name="message" placeholder="Your Message" class="contact-inputs" required></textarea>
        <button type="submit">Submit</button>
    </form>
    <div class="contact-right"></div>
</div          
            
        </div>
{% include 'contt.html' %}
{% include 'footer.html' %}
{% endblock %}

